ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}

page-device-track {
    #map {
        height: 300px;
    }

    .list > .item-block{
        border-bottom: 0.55px solid #c8c7cc !important;
    }
    .list .item-block .item-inner{
        border: 0
    }
    .item ion-avatar[item-left], .item ion-thumbnail[item-left], .item ion-avatar[item-start], .item ion-thumbnail[item-start]{
        margin: 8px 0px;
    }
    ion-icon{
        font-size: 2.7em;
    }
    .item ion-thumbnail {
        min-width: 45px;
        min-height: 45px;
    }
    ion-fab{
        top: 0px;
    }
    .action, .action.activated{
        background-color: transparent;
        border-radius: 0%;
        box-shadow: none;
        color: #488aff;
        width: 50px;
        height: 50px; 
    }
    #pet{
        width: 30px; 
        height: 30px; 
        margin-top: 8px;
    }

}
