<ion-content class="login-content">
  <div *ngIf="!flag">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <ion-row>
        <ion-col>
          <h3>{{ 'LOGIN_PAGE.title' | translate }}</h3>
          <ion-list inset>
            <ion-item>
              <ion-label> <ion-icon name="person"></ion-icon></ion-label>
              <ion-input type="text" placeholder="{{ 'LOGIN_PAGE.idNumber' | translate }}" name="id" [(ngModel)]="id" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label> <ion-icon name="lock"></ion-icon></ion-label>
              <ion-input type="text" placeholder="{{ 'LOGIN_PAGE.password' | translate }}" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>

            <button ion-button icon-start type="submit" color="primary" block round [disabled]="!loginForm.form.valid">
              <ion-icon name="log-in"></ion-icon> {{ 'LOGIN_PAGE.login' | translate }}
            </button>
            
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
    <button ion-button icon-start color="light" clear (click)="changeFlag()">
      <ion-icon name="arrow-round-forward"></ion-icon> {{ 'LOGIN_PAGE.forgetPassword' | translate }}
    </button><br />
    <button ion-button icon-start color="light" (click)="createAccount()" clear>
      <ion-icon name="arrow-round-forward"></ion-icon> {{ 'LOGIN_PAGE.dontHaveAccount' | translate }}
    </button>
  </div>


  <div *ngIf="flag">
    <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
      <ion-row>
        <ion-col>
          <h3>{{ 'LOGIN_PAGE.resetPassword' | translate }}</h3>
          <ion-list inset>
            <ion-item>
              <ion-label><ion-icon name="person"></ion-icon></ion-label>
              <ion-input type="text" placeholder="{{ 'LOGIN_PAGE.idNumber' | translate }}" name="nid" [(ngModel)]="nid" required></ion-input>
            </ion-item>

            <button ion-button icon-start type="submit" color="mainColor" block round 
            [disabled]="!resetForm.form.valid">
              <ion-icon name="log-in"></ion-icon> {{ 'LOGIN_PAGE.send' | translate }}
            </button>
            
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>