<ion-menu *ngIf="this.platform.dir()==='rtl'" side="right" [content]="content">
  <ion-header>
    <ion-toolbar style="min-height: 150px;">
      <ion-title>{{ 'APP_PAGE.menu' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name={{p.icon}}></ion-icon> {{ p.title | translate }}
      </button>
      <button menuClose ion-item (click)="switchMySensors()">
        <ion-icon name="swap"></ion-icon> {{ 'APP_PAGE.switchApp' | translate }}
      </button>
      <!-- <button menuClose ion-item (click)="userLogout()">
        <ion-icon name="exit"></ion-icon> {{ 'APP_PAGE.logout' | translate }}
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu *ngIf="this.platform.dir()==='ltr'" side="left" [content]="content">
  <ion-header>
    <ion-toolbar style="min-height: 150px;">
      <ion-title>{{ 'APP_PAGE.menu' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name={{p.icon}}></ion-icon> {{ p.title | translate }}
      </button>
      <button menuClose ion-item (click)="switchMySensors()">
        <ion-icon name="swap"></ion-icon> {{ 'APP_PAGE.switchApp' | translate }}
      </button>
      <!-- <button menuClose ion-item (click)="userLogout()">
        <ion-icon name="exit"></ion-icon> {{ 'APP_PAGE.logout' | translate }}
      </button> -->
    </ion-list>
  </ion-content>
  
  <ion-footer>
  <ion-toolbar>
    <ion-title>v1.3.2</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>