.md,
.ios,
.wp {
	.label{
		font-size: 19px;
		// color: #fb881e;
		color: #444;
	}
	.toolbar-background{
		background-color: #F08080//#fb881e //rgba(251, 136, 30, 0.83);
	}
	.toolbar-title{
		color: #fff;
	}
	.bar-button-default{
		color: #fff;
	}

	.alert-radio-icon{
	    right: 13px;
	}
}
