@font-face {
    font-family: Calibri-regular;
    src: url(../assets/custom/fonts/Calibri.ttf);
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
body{
	font-family: Calibri-regular !important;
}
 
.md,
.ios,
.wp {
	.scroll-content{
		font-family: Calibri-regular !important;
	}
	.label{
		font-size: 19px;
		// color: #fb881e;
		color: #444;
	}
	.toolbar-background{
		background-color: color($colors, dark-red)
	}
	.toolbar-title{
		color: #fff;
	}
	.bar-button-default{
		color: #fff;
	}

	.alert-radio-icon{
	    right: 13px;
	}

	ion-footer .toolbar{
		min-height: 20px;
	}
	.row{
		margin-bottom: 0px;
	}
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 0px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 transparent;
    box-shadow: 0 1px 0 0 transparent;
}