<ion-content padding class="register1-content">
  <form novalidate (ngSubmit)="onSubmit(validations_form)" [formGroup]="validations_form">
    <h3>{{ 'REGISTER1_PAGE.title' | translate }}</h3>
    <ion-item>
      <ion-label ><ion-icon name="person"></ion-icon></ion-label>
      <ion-input type="text" placeholder="{{ 'REGISTER1_PAGE.idNumber' | translate }}" formControlName="id"></ion-input>
    </ion-item>

    <div class="error-container" no-lines *ngIf="( validations_form.get('id').hasError('required') || validations_form.get('id').hasError('pattern'))&& validations_form.get('id').touched">

      <div class="error" *ngIf="validations_form.get('id').hasError('required') && validations_form.get('id').touched">
        {{ 'ERROR_MESSAGES.register1.id.required' | translate }}
      </div>
      <div class="error" *ngIf="validations_form.get('id').hasError('pattern') && validations_form.get('id').touched">
        {{ 'ERROR_MESSAGES.register1.id.pattern' | translate }}
      </div>

    </div>

    <ion-item>
      <ion-label ><ion-icon name="key"></ion-icon></ion-label>
      <ion-input type="text" placeholder="{{ 'REGISTER1_PAGE.secertKey' | translate }}" formControlName="skey"></ion-input>
    </ion-item>

    <div class="error-container" no-lines *ngIf="( validations_form.get('skey').hasError('required') || validations_form.get('skey').hasError('min') || validations_form.get('skey').hasError('max'))&& validations_form.get('skey').touched">

      <div class="error" *ngIf="validations_form.get('skey').hasError('required') && validations_form.get('skey').touched">
        {{ 'ERROR_MESSAGES.register1.skey.required' | translate }}
      </div>
      <div class="error" *ngIf="validations_form.get('skey').hasError('min') && validations_form.get('skey').touched">
        {{ 'ERROR_MESSAGES.register1.skey.min' | translate }}
      </div>

      <div class="error" *ngIf="validations_form.get('skey').hasError('max') && validations_form.get('skey').touched">
        {{ 'ERROR_MESSAGES.register1.skey.max' | translate }}
      </div>

    </div>

    <button ion-button block round color="mainColor" [disabled]="validations_form.invalid"><ion-icon name="log-in"></ion-icon>{{ 'REGISTER1_PAGE.send' | translate }}</button>
  </form>
    <button ion-button color="light" icon-start (click)="alreadyHaveAccount()" clear>
      <ion-icon name="arrow-round-forward"></ion-icon> {{ 'REGISTER1_PAGE.alreadyHaveAccount' | translate }}
    </button>
</ion-content>