<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'NOTIFICATIONS_PAGE.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="notificationDetails(item)">
      <ion-icon 
        color="mainColor" *ngIf="rooms.tag.indexOf(item.sid) >= 0" ios="ios-pricetag-outline" md="md-pricetag" item-start>
      </ion-icon>

      <ion-icon
        color="mainColor" *ngIf="rooms.bus.indexOf(item.sid) >= 0" ios="ios-bus-outline" md="md-bus" item-start>
      </ion-icon>

      <ion-icon
        color="mainColor" *ngIf="rooms.geo == item.sid" ios="ios-home-outline" md="md-home" item-start>
      </ion-icon>

      <h3 *ngIf="item.name">{{ 'NOTIFICATIONS_PAGE.childName' | translate }}: {{item.name.toString()}}</h3>

      <h2 *ngIf="item.msg.length == 30 || item.msg.length < 30;else msg">{{item.msg}}</h2>

      <ng-template #msg><h2>{{item.msg.substr(0, 30) +"..."}}</h2></ng-template>
      
      <p *ngIf="(item.time | customDate) != item.time; else temp" text-right>
        <span>{{ item.time | customDate }}</span>
        <span *ngIf="(item.time | customDate).includes('day')">, {{item.time | date:'shortTime'}}</span>
      </p>

      <ng-template #temp>
        <p text-right>{{item.time | date:'short'}}</p>
      </ng-template>

    </button>
  </ion-list>

</ion-content>
