<ion-content padding class="login-content">
  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">

    <h3>{{ 'REGISTER2_PAGE.title' | translate }}</h3>
     <ion-item>
        <ion-label ><ion-icon name="person"></ion-icon></ion-label>
        <ion-input type="text" placeholder="{{ 'REGISTER2_PAGE.name' | translate }}" formControlName="name">
        </ion-input>
      </ion-item>

      <div class="error-container" no-lines *ngIf="( user.get('name').hasError('minlength') || user.get('name').hasError('required') ) && user.get('name').touched">

        <div class="error" *ngIf="user.get('name').hasError('required') && user.get('name').touched">
          {{ 'ERROR_MESSAGES.register2.name.required' | translate }}
        </div>
        <div class="error" *ngIf="user.get('name').hasError('minlength') && user.get('name').touched">
          {{ 'ERROR_MESSAGES.register2.name.minlength' | translate }}
        </div>
      </div>

    <ion-item>
      <ion-label ><ion-icon name="mail"></ion-icon></ion-label>
      <ion-input type="text" placeholder="{{ 'REGISTER2_PAGE.email' | translate }}" formControlName="email"></ion-input>
    </ion-item>

    <div class="error-container" no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('pattern') ) && user.get('email').touched">

      <div class="error" *ngIf=" user.get('email').hasError('required') && user.get('email').touched">
        {{ 'ERROR_MESSAGES.register2.email.required' | translate }}
      </div>

      <div class="error" *ngIf=" user.get('email').hasError('pattern') && user.get('email').touched">
        {{ 'ERROR_MESSAGES.register2.email.pattern' | translate }}
      </div>

    </div>

    <ion-item>
      <ion-label ><ion-icon name="lock"></ion-icon></ion-label>
      <ion-input type="text" placeholder="{{ 'REGISTER2_PAGE.password' | translate }}" formControlName="password"></ion-input>
    </ion-item>

    <div class="error-container" no-lines *ngIf="( user.get('password').hasError('required') || user.get('password').hasError('minlength') || user.get('password').hasError('pattern') ) && user.get('password').touched">

      <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
        {{ 'ERROR_MESSAGES.register2.password.required' | translate }}
      </div>

      <div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
        {{ 'ERROR_MESSAGES.register2.password.minlength' | translate }}
      </div>

      <div class="error" *ngIf="user.get('password').hasError('pattern') && user.get('password').touched">
        {{ 'ERROR_MESSAGES.register2.password.pattern' | translate }}
      </div>

    </div>

    <ion-item>
      <ion-label ><ion-icon name="pin"></ion-icon></ion-label>
      <ion-input type="text" formControlName="{{ 'REGISTER2_PAGE.address' | translate }}" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label ><ion-icon name="phone-portrait"></ion-icon></ion-label>
      <ion-input type="text" placeholder="{{ 'REGISTER2_PAGE.phone' | translate }}" formControlName="mob"></ion-input>
    </ion-item>

    <div class="error-container" no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('pattern'))&& user.get('mob').touched">

      <div class="error" *ngIf="user.get('mob').hasError('required') && user.get('mob').touched">
        {{ 'ERROR_MESSAGES.register2.mobile.required' | translate }}
      </div>
      <!-- <div class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('mob').touched">
        Please enter valid mobile number
      </div> -->

      <div class="error" *ngIf="user.get('mob').hasError('pattern') && user.get('mob').touched">
        {{ 'ERROR_MESSAGES.register2.mobile.pattern' | translate }}
      </div>

    </div>

    <button ion-button block round color="mainColor" [disabled]="!user.valid"><ion-icon name="log-in"></ion-icon>{{ 'REGISTER2_PAGE.register' | translate }}</button>
  </form>

  <button ion-button type="button" color="primary" block round style="text-transform: capitalize;" (click)="locateMe()">
    <ion-icon name="pin"></ion-icon> {{ 'REGISTER2_PAGE.locateMe' | translate }}
  </button>
      
</ion-content>