<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>
      Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<img [src]="childData.image" onError="this.src='assets/imgs/1.png'">
		<ion-card-content>
			<ion-card-title color="mainColor">{{childData.name}}</ion-card-title>
			<ion-row>
	        	<ion-col col-12><br /></ion-col>
	        	<ion-col col-5><h2>Child ID:</h2></ion-col>
	        	<ion-col col-7><h2>{{childData.tag}}</h2></ion-col>

	        	<ion-col col-5><h2>Child Status:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf="childData.childLastMsg != undefined">{{childData["childLastMsg"]["status"]}}</h2>
	        		<h2 *ngIf="childData.childLastMsg == undefined">No Status</h2>
	        	</ion-col>
	        	<ion-col col-12><hr /></ion-col>

	        	<ion-col col-5><h2>Bus Number:</h2></ion-col><ion-col col-7><h2>{{childData.bus}}</h2></ion-col>
	        	<ion-col col-5><h2>Bus ID:</h2></ion-col><ion-col col-7><h2>{{childData.bus_id}}</h2></ion-col>
	        	<ion-col col-5><h2>Bus Speed:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf="childData['childLastMsg']['speed'] != undefined; else lastMsgSpeed ">
	        			{{childData["childLastMsg"]["speed"]}}
	        		</h2>
	        		<ng-template #lastMsgSpeed>
	        			<h2>{{childData["lastMsg"]["speed"]}}</h2>
	        		</ng-template>
	        	</ion-col>
	        	<ion-col col-12><hr /></ion-col>

	        	<ion-col col-5><h2>Driver Name:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf='childData["ChildLastMsg"] != undefined'>{{childData["childLastMsg"]["driverName"]}}</h2>
	        		<h2 *ngIf='childData["ChildLastMsg"] == undefined'>{{childData["lastMsg"]["driverName"]}}</h2>
	        	</ion-col>

	        	<ion-col col-5><h2>Driver Phone:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf='childData["ChildLastMsg"] != undefined'>{{childData["childLastMsg"]["driverPhone"]}}</h2>
	        		<h2 *ngIf='childData["ChildLastMsg"] == undefined'>{{childData["lastMsg"]["driverPhone"]}}</h2>
	        	</ion-col>

	        </ion-row>
		</ion-card-content>
	</ion-card>

	<ion-list *ngIf="messages.length > 0">
		<h2>Notifications</h2>
	    <button ion-item *ngFor="let message of messages"  (click)="notificationDetails(message)">
			<ion-icon color="mainColor" *ngIf="message.sid == tag" ios="ios-pricetag-outline" md="md-pricetag" item-start></ion-icon>
			<ion-icon color="mainColor" *ngIf="rooms.bus.indexOf(message.sid) >= 0" ios="ios-bus-outline" md="md-bus" item-start></ion-icon>
	      	<ion-icon color="mainColor" *ngIf="rooms.geo == message.sid" ios="ios-home-outline" md="md-home" item-start></ion-icon>
	        
	        <h2 *ngIf="message.msg.length == 30 || message.msg.length < 30 ;else msg">{{message.msg}}</h2>
        	<ng-template #msg><h2>{{message.msg.substr(0, 30) +"..."}}</h2></ng-template>


	        <p *ngIf="(message.time | customDate) != message.time; else temp" text-right>
	          <span>{{ message.time | customDate }}, </span>
	          {{message.time | date:'shortTime'}}
	        </p>
	        <ng-template #temp>
	          <p text-right>
	            {{message.time | date:'short'}}
	          </p>
	        </ng-template>

	    </button>
	</ion-list>
</ion-content>
