<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>
      {{ 'DETAILS_PAGE.title' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<img [src]="childData.image" onError="this.src='assets/imgs/1.png'">
		<ion-card-content>
			<ion-card-title color="mainColor">{{childData.name}}</ion-card-title>
			<ion-row>
	        	<!-- <ion-col col-12><br /></ion-col> -->
	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.childID' | translate }}:</h2></ion-col>

	        	<ion-col col-7><h2>{{childData.tag}}</h2></ion-col>

	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.childStatus' | translate }}:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf="childData.childLastMsg != undefined">{{childData["childLastMsg"]["status"]}}</h2>
	        		<h2 *ngIf="childData.childLastMsg == undefined">No Status</h2>
	        	</ion-col>
	        	<ion-col> <button ion-button clear color="primary" (click)="selectSemester()">View Grades</button> </ion-col>
	        	<ion-col col-12><hr /></ion-col>

	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.busNumber' | translate }}:</h2></ion-col>
	        	<ion-col col-7><h2>{{childData.bus}}</h2></ion-col>

	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.busID' | translate }}:</h2></ion-col>
	        	<ion-col col-7><h2>{{childData.bus_id}}</h2></ion-col>

	        	<ion-col col-6><h2>{{ 'DETAILS_PAGE.busTemp' | translate }}:</h2></ion-col>
	        	<ion-col col-6><h2>20</h2></ion-col>
	        	
	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.busSpeed' | translate }}:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf="childData.childLastMsg?.speed != undefined; else lastMsgSpeed ">
	        			{{childData["childLastMsg"]["speed"]}}
	        		</h2>
	        		<ng-template #lastMsgSpeed>
	        			<h2 *ngIf="childData.lastMsg?.speed != undefined">{{childData["lastMsg"]["speed"]}}</h2>
	        			<h2 *ngIf="childData.lastMsg?.speed == undefined">No Reading</h2>
	        		</ng-template>
	        	</ion-col>
	        	<ion-col> <button ion-button clear color="primary" (click)="tripTrack()">Bus Trip Track</button> </ion-col>
	        	<ion-col col-12><hr /></ion-col>

	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.driverName' | translate }}:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf='childData["ChildLastMsg"] != undefined'>{{childData["childLastMsg"]?.driverName}}</h2>
	        		<h2 *ngIf='childData["ChildLastMsg"] == undefined'>{{childData["lastMsg"]?.driverName}}</h2>
	        	</ion-col>

	        	<ion-col col-5><h2>{{ 'DETAILS_PAGE.driverPhone' | translate }}:</h2></ion-col>
	        	<ion-col col-7>
	        		<h2 *ngIf='childData["ChildLastMsg"] != undefined'>{{childData["childLastMsg"]?.driverPhone}}</h2>
	        		<h2 *ngIf='childData["ChildLastMsg"] == undefined'>{{childData["lastMsg"]?.driverPhone}}</h2>
	        	</ion-col>
	        	<ion-col> <button ion-button clear color="primary" (click)="driverBehaviour()">Driver Behaviour</button> </ion-col>
	        </ion-row>
		</ion-card-content>
	</ion-card>

	<ion-list *ngIf="messages.length > 0">

		<h2>{{ 'DETAILS_PAGE.notifications' | translate }}</h2>

	    <button ion-item *ngFor="let message of messages"  (click)="notificationDetails(message)">
	    	
			<ion-icon color="mainColor" *ngIf="message.sid == tag" ios="ios-pricetag-outline" md="md-pricetag" item-start></ion-icon>
			<ion-icon color="mainColor" *ngIf="rooms.bus.indexOf(message.sid) >= 0" ios="ios-bus-outline" md="md-bus" item-start></ion-icon>
	      	<ion-icon color="mainColor" *ngIf="rooms.geo == message.sid" ios="ios-home-outline" md="md-home" item-start></ion-icon>
	        
	        <h2 *ngIf="message.msg.length == 30 || message.msg.length < 30 ;else msg">{{message.msg}}</h2>
        	<ng-template #msg><h2>{{message.msg.substr(0, 30) +"..."}}</h2></ng-template>


	        <p *ngIf="(message.time | customDate: lang) != message.time; else temp" text-right>
	          <span>{{ message.time | customDate: lang }}</span>
	          <span *ngIf="(message.time | customDate: lang).includes('day')">
	          	, {{message.time | date:'shortTime'}}
	          </span>
	        </p>
	        <ng-template #temp>
	          <p text-right>
	            {{message.time | date:'short'}}
	          </p>
	        </ng-template>

	    </button>

	    <button ion-button color="mainColor" clear (click)="moreNotifications()">More Notifications</button>
	</ion-list>
</ion-content>
